/*-------general--------*/
body, html
{
    margin: 0;
    font-family: 'Futura', sans serif;
    color: mintcream;
    font-weight: 400;
    background-image: linear-gradient(180deg, #082a32 0%, #6A9BA3 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}

main
{

    padding-bottom: 50px;
    padding-top: 30px;
}

h1
{
    text-align: center;
    padding-top: 30px;
}

.container
{
    width: 60%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding-bottom: 30px;
}

/*-------header-------*/

/* overall header color*/
header
{
  background: black;
  z-index: 9999999999;
}

/* makes sure that all the text & images inside the header is covered by the header color*/
header::after
{
  content: '';
  display: table;
  clear:both;
}

/* header navbar logo settings */
header #header-logo
{
  float: left;
  padding: 10px 0;
}

/* header navbar text settings */
header nav
{
  float:right;
}

/* header navbar text layout */
header nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header navbar text layout */
header nav li
{
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

/* header navbar text font formatting */
header nav a
{
  color: #F0FFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

/* header navbar text color hover mechanic */
header nav a:hover
{
  color: white;
}

/* header navbar interactive line settings */
header nav a::before
{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

/* header navbar interative line hover mechanic */
header nav a:hover::before
{
  width: 100%;
}

/*-------form-------*/


table
{
    border-collapse: collapse;
    margin: 0 auto;
    overflow: hidden;
}
  
table, tr, td
{
    padding: 12px 10px;
}

.section-row-bottom
{
    border-bottom: 1px solid;
}


.section-row-top
{
    border-top: 1px solid;
}

.heading
{
    text-align: center;

}

.text
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


td td:hover{
    color: #009879
}


/*--------------*/

input[type=text], input[type=email]
{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid mediumaquamarine;
    border-radius: 8px;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus
{
    background-color: lightblue;
    -webkit-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

input[type=submit]
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}