/* <WHOLE WEBSITE CSS CODE> */

/*This is for the whole body of the website*/
body, html
{
  margin: 0;
  font-family: 'Futura', sans serif;
  color: mintcream;
  font-weight: 400;
  background-image: url(file:///Users/jasonhu/Desktop/cogsci-conference-2020/background.png), linear-gradient(180deg,black 20%, #082a32 50%, #6A9BA3 60%, #c2d0d8 90%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  
}



/*add whitespace on sides*/
.container
{
  width: 80%;
  margin: 0 auto;
}

/* <HEADER SECTION CSS CODE> */

/* overall header color*/
header
{
  background: black;
}

/* makes sure that all the text & images inside the header is covered by the header color*/
header::after
{
  content: '';
  display: table;
  clear:both;
}

/* header navbar logo settings */
header #header-logo
{
  float: left;
  padding: 10px 0;
}

/* header navbar text settings */
header nav
{
  float:right;
}

/* header navbar text layout */
header nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header navbar text layout */
header nav li
{
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

/* header navbar text font formatting */
header nav a
{
  color: #F0FFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

/* header navbar text color hover mechanic */
header nav a:hover
{
  color: white;
}

/* header navbar interactive line settings */
header nav a::before
{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

/* header navbar interative line hover mechanic */
header nav a:hover::before
{
  width: 100%;
}

/* <MAIN SECTION CSS CODE> */

/* [Section 1] */

main .logo
{
  position:relative;
  text-align: right;
  margin-right: 35%;
  padding-top: 5vw;
}

/* main #front-pg-logo
{
  height: 450px;
  float:right;
}*/

main .front-pg-text #title
{
  font-family:'Krungthep';
  font-size: 4.5vw;
  letter-spacing: 5px;
}


main .front-pg-text span
{
  font-family: 'Futura';
  font-size: 2.5vw;
}

main .front-pg-text #tag-1
{
  font-family: 'Rubik', sans-serif;
  font-weight:400;
  font-size: 2.5vw;
}

main .front-pg-text #tag-2
{
  font-family:'Montserrat', sans-serif;
  font-weight:300;
  font-size: 1.5vw;
}