/* <WHOLE WEBSITE CSS CODE> */

/*This is for the whole body of the website*/
body, html
{
  margin: 0;
  font-family: 'Futura', sans serif;
  color: azure;
  font-weight: 400;
  background-image: linear-gradient(180deg, #082a32 30%, #6A9BA3 60%, #c2d0d8 90%);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/*add whitespace on sides*/
.container
{
  width: 80%;
  margin: 0 auto;
}

/* <HEADER SECTION CSS CODE> */

/* overall header color*/
header
{
  background: #082a32;
}

/* makes sure that all the text & images inside the header is covered by the header color*/
header::after
{
  content: '';
  display: table;
  clear:both;
}

/* header navbar logo settings */
header #header-logo
{
  float: left;
  padding: 10px 0;
}

/* header navbar text settings */
header nav
{
  float:right;
}

/* header navbar text layout */
header nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header navbar text layout */
header nav li
{
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

/* header navbar text font formatting */
header nav a
{
  color: #F0FFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

/* header navbar text color hover mechanic */
header nav a:hover
{
  color: white;
}

/* header navbar interactive line settings */
header nav a::before
{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

/* header navbar interative line hover mechanic */
header nav a:hover::before
{
  width: 100%;
}

/* <MAIN SECTION CSS CODE> */

/* [Section 1] */

main .logo
{
  margin-top: 50px;
}

main #front-pg-logo
{
  height: 450px;
  float:right;
}

main #front-pg-text
{
  font-family:'Krungthep';
  color:MintCream;
  font-size: 65px;
  letter-spacing: 5px;
}

main #front-pg-text span
{
  font-family: 'Futura';
  color:MintCream;
  font-size: 45px;
  letter-spacing: 5px;
}

main p
{
  color:MintCream;
  text-align: center;
  float:left;
}