*, *:before, *:after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body
{
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
}

div
{
  display: block;
}

.app {
    background: linear-gradient(180deg, #423C7B 2.02%, #61497E 53.58%, #6A5386 68.31%);
}
nav, .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 84px;
    width: 100%;
    background-color: #222832;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1) transform,0.5s cubic-bezier(0.4, 0, 0.2, 1) background-color,0.5s cubic-bezier(0.4, 0, 0.2, 1) box-shadow;
    font-family: "Sofia Pro",sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 0.75rem;
    padding: 0 0.7vh;
    z-index: 64;
}

nav.top,
.nav.top {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

nav > .nav-container,
.nav > .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

nav.sidebar > .nav-container,
.nav.sidebar > .nav-container {
  overflow-x: hidden;
  overflow-y: auto;
}


nav > .nav-container > .container,
.nav > .nav-container > .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}


nav.sidebar > .nav-container > .container,
.nav.sidebar > .nav-container > .container {
  flex-direction: column;
  height: unset;
  min-height: 100%;
  width: 100%;
}


nav > .nav-container > .container > .element,
.nav > .nav-container > .container > .element {
  display: flex;
  align-items: center;
  margin: 0 8px;
  max-width: 100%;
  height: 100%;
}


nav.sidebar > .nav-container > .container > .element,
.nav.sidebar > .nav-container > .container > .element {
  flex-direction: column;
  margin: 0;
  height: unset;
  width: 100%;
}


.hack_logos img {
    width: 3vmax;
  }

















